In [2]:
import pandas as pd
import numpy as np

In [3]:
#Pandas program to compare the elements of two Pandas series. 
#Create the series
series1 = pd.Series([4,65,436,3,9])
series2 = pd.Series([7,0,3,897,9])
compare = series1==series2
comparison = series1.compare(series2)
print(comparison)
print(compare)

    self  other
0    4.0    7.0
1   65.0    0.0
2  436.0    3.0
3    3.0  897.0
0    False
1    False
2    False
3    False
4     True
dtype: bool

In [4]:
#Pandas program to add, subtract, multiply and divide two Pandas series.
#Create the series 
series1= pd.Series([2,4,6,8,14])
series2= pd.Series([1,3,5,7,9])

#Addition
addition = series1 + series2
print("Addition:")
print(addition)

# Subtraction
subtraction = series1 - series2
print("\nSubtraction:")
print(subtraction)

# Multiplication
multiplication = series1 * series2
print("\nMultiplication:")
print(multiplication)

# Division
division = series1 / series2
print("\nDivision:")
print(division)

Addition:
0     3
1     7
2    11
3    15
4    23
dtype: int64

Subtraction:
0    1
1    1
2    1
3    1
4    5
dtype: int64

Multiplication:
0      2
1     12
2     30
3     56
4    126
dtype: int64

Division:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.555556
dtype: float64

In [5]:
#Pandas program to convert a dictionary to a Pandas series. 
dictionary1 = {'Josh': 24, 'Sam': 36, 'Peace': 19, 'Charles': 65, 'Tom': 44}
series = pd.Series(dictionary1)
print(series)

Josh       24
Sam        36
Peace      19
Charles    65
Tom        44
dtype: int64

In [4]:
#Pandas program to convert a given series to an array.

# Create the series
series = pd.Series(['Love', 800, 'Joy', 789.9, 'Peace', True])

# Convert the series to an array
array = np.array(series.values)
array1 = series.to_numpy()

# Print the array
print(array)
print(array1)

['Love' 800 'Joy' 789.9 'Peace' True]
['Love' 800 'Joy' 789.9 'Peace' True]

In [10]:
#5.	Write a Pandas program to display the most frequent value in the given series and replace everything else as ‘Other’ in the series. 
#(Use the ‘HomeTeamGoals’ column in the dataset provided)
#read the dataset using pandas
df = pd.read_csv('AfricaCupofNationsMatches.csv')

#first view a brief about the dataset and confirm availability of the column
df.head()

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,0.0,Final,NaN,Municipal Stadium,Khartoum,30000.0
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0

In [9]:
#Find the most frequent value in the column
most_frequent_value = df['HomeTeamGoals'].mode()[0]

# Replace all other values with 'Other'
df['HomeTeamGoals'] = df['HomeTeamGoals'].apply(lambda x: most_frequent_value if x == most_frequent_value else 'Other')

# Display the modified series
print(df['HomeTeamGoals'])

0        1.0
1      Other
2      Other
3      Other
4        1.0
       ...
617    Other
618      1.0
619    Other
620    Other
621    Other
Name: HomeTeamGoals, Length: 622, dtype: object

In [17]:
#Pandas program to read the given csv file.
df = pd.read_csv('AfricaCupofNationsMatches.csv')

In [18]:
#Pandas program to get the first 7 rows of your data frame.
df.head(7)

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,0.0,Final,NaN,Municipal Stadium,Khartoum,30000.0
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0
5,1959,29-May-59,NaN,Egypt,Sudan,2.0,1.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
6,1962,14-Jan-62,NaN,Ethiopia,Tunisia,4.0,2.0,Semifinals,NaN,Hailé Sélassié Stadium,Addis Ababa,30000.0

In [19]:
#Pandas program to select the columns
selected_columns = ['HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals']
selected_df = df[selected_columns]

# Display the selected columns
print(selected_df)

        HomeTeam       AwayTeam  HomeTeamGoals  AwayTeamGoals
0         Sudan           Egypt            1.0            2.0
1      Ethiopia    South Africa            NaN            NaN
2         Egypt        Ethiopia            4.0            0.0
3          Egypt       Ethiopia            4.0            0.0
4         Sudan        Ethiopia            1.0            0.0
..           ...            ...            ...            ...
617  Madagascar         Tunisia            0.0            3.0
618     Senegal         Tunisia            1.0            0.0
619     Algeria         Nigeria            2.0            1.0
620     Tunisia         Nigeria            0.0            1.0
621     Senegal         Algeria            0.0            1.0

[622 rows x 4 columns]

In [26]:
#Pandas program to select the rows where Egypt appears.
#Going to choose from a specific column
selected_rows = df[(df['HomeTeam'] == 'Egypt') | (df['AwayTeam'] == 'Egypt')]

# Display the selected rows
print(selected_rows)

    Year      Date  Time    HomeTeam   AwayTeam  HomeTeamGoals  AwayTeamGoals  \
3   1959  22-May-59   NaN      Egypt   Ethiopia            4.0            0.0
5   1959  29-May-59   NaN      Egypt      Sudan            2.0            1.0
7   1962  18-Jan-62   NaN      Egypt     Uganda            2.0            1.0
9   1962  21-Jan-62   NaN  Ethiopia       Egypt            4.0            2.0
13  1963  24-Nov-63   NaN      Egypt    Nigeria            6.0            3.0
14  1963  26-Nov-63   NaN      Egypt      Sudan            2.0            2.0
16  1963  30-Nov-63   NaN      Egypt   Ethiopia            3.0            0.0

                Stage    SpecialWinConditions                 Stadium  \
3    Final Tournament                     NaN   Prince Farouk Stadium
5    Final Tournament                     NaN   Prince Farouk Stadium
7          Semifinals                     NaN  Hailé Sélassié Stadium
9               Final   win after extra time   Hailé Sélassié Stadium
13            Group B                     NaN   Kumasi Sports Stadium
14            Group B                     NaN   Kumasi Sports Stadium
16  Third place match                     NaN    Accra Sports Stadium

            City  Attendance
3          Cairo     30000.0
5          Cairo     30000.0
7    Addis Ababa     30000.0
9    Addis Ababa         NaN
13        Kumasi         NaN
14        Kumasi         NaN
16         Accra         NaN

In [27]:
#Pandas program to count the number of rows and columns of your data frame.
# Count the number of rows
num_rows = len(df)
num_rows1 = df.shape[0]

# Count the number of columns
num_columns = len(df.columns)
num_columns1 = df.shape[1]
# Display the number of rows and columns
print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

Number of rows: 622
Number of columns: 12

In [28]:
#Pandas program to select the rows where the ‘Attendance’ is missing.
selected_attendance = df[df['Attendance'].isna()]

# Display the selected attendance
print(selected_attendance)

     Year                         Date   Time        HomeTeam       AwayTeam  \
1    1957                     10-Feb-57    NaN      Ethiopia    South Africa
8    1962                     20-Jan-62    NaN       Tunisia          Uganda
9    1962                     21-Jan-62    NaN      Ethiopia           Egypt
10   1963                     24-Nov-63    NaN         Ghana         Tunisia
11   1963                     26-Nov-63    NaN         Ghana        Ethiopia
..    ...                           ...    ...            ...            ...
565  2017  29 January 2017 (2017-01-29)  20:00         Egypt         Morocco
566  2017  1 February 2017 (2017-02-01)  20:00  Burkina Faso           Egypt
567  2017  2 February 2017 (2017-02-02)  20:00      Cameroon           Ghana
568  2017  4 February 2017 (2017-02-04)  20:00  Burkina Faso           Ghana
569  2017  5 February 2017 (2017-02-05)  20:00         Egypt        Cameroon

     HomeTeamGoals  AwayTeamGoals                 Stage  \
1              NaN            NaN            Semifinals
8              3.0            0.0     Third place match
9              4.0            2.0                 Final
10             1.0            1.0               Group A
11             2.0            0.0               Group A
..             ...            ...                   ...
565            1.0            0.0        Quarter-finals
566            1.0            1.0           Semi-finals
567            2.0            0.0           Semi-finals
568            1.0            0.0  Third place play-off
569            1.0            2.0                 Final

                                  SpecialWinConditions  \
1    Ethiopia  wins due to disqualification of othe...
8                                                  NaN
9                                win after extra time
10                                                 NaN
11                                                 NaN
..                                                 ...
565                                                NaN
566                        Egypt win on Penalities 3-4
567                                                NaN
568                                                NaN
569                                                NaN

                    Stadium          City  Attendance
1                       NaN           NaN         NaN
8    Hailé Sélassié Stadium   Addis Ababa         NaN
9    Hailé Sélassié Stadium   Addis Ababa         NaN
10     Accra Sports Stadium         Accra         NaN
11     Accra Sports Stadium         Accra         NaN
..                      ...           ...         ...
565    Stade de Port-Gentil   Port-Gentil         NaN
566       Stade de l'Amitié    Libreville         NaN
567    Stade de Franceville   Franceville         NaN
568    Stade de Port-Gentil   Port-Gentil         NaN
569       Stade de l'Amitié    Libreville         NaN

[100 rows x 12 columns]

In [29]:
#Pandas program to select the rows where the ‘HomeTeamGoals’ are between 3 and 6 inclusive.
selected_rows = df[(df['HomeTeamGoals'] >= 3) & (df['HomeTeamGoals'] <= 6)]

# Display the selected rows
print(selected_rows)

     Year                         Date   Time    HomeTeam     AwayTeam  \
2    1957                     16-Feb-57    NaN     Egypt      Ethiopia
3    1959                     22-May-59    NaN      Egypt     Ethiopia
6    1962                     14-Jan-62    NaN  Ethiopia       Tunisia
8    1962                     20-Jan-62    NaN   Tunisia        Uganda
9    1962                     21-Jan-62    NaN  Ethiopia         Egypt
..    ...                           ...    ...        ...          ...
553  2017  20 January 2017 (2017-01-20)  20:00   Morocco          Togo
585  2019     27 June 2019 (2019-06-27)  22:00     Kenya      Tanzania
595  2019     24 June 2019 (2019-06-24)  22:00      Mali    Mauritania
608  2019      6 July 2019 (2019-07-06)  18:00   Nigeria      Cameroon
611  2019      7 July 2019 (2019-07-07)  21:00   Algeria        Guinea

     HomeTeamGoals  AwayTeamGoals              Stage    SpecialWinConditions  \
2              4.0            0.0              Final                     NaN
3              4.0            0.0   Final Tournament                     NaN
6              4.0            2.0         Semifinals                     NaN
8              3.0            0.0  Third place match                     NaN
9              4.0            2.0              Final   win after extra time
..             ...            ...                ...                     ...
553            3.0            1.0            Group C                     NaN
585            3.0            2.0            Group C                     NaN
595            4.0            1.0            Group E                     NaN
608            3.0            2.0        Round of 16                     NaN
611            3.0            0.0        Round of 16                     NaN

                    Stadium          City  Attendance
2         Municipal Stadium      Khartoum     30000.0
3     Prince Farouk Stadium         Cairo     30000.0
6    Hailé Sélassié Stadium   Addis Ababa     30000.0
8    Hailé Sélassié Stadium   Addis Ababa         NaN
9    Hailé Sélassié Stadium   Addis Ababa         NaN
..                      ...           ...         ...
553            Stade d'Oyem          Oyem         NaN
585         30 June Stadium         Cairo      7233.0
595            Suez Stadium          Suez      6202.0
608      Alexandria Stadium    Alexandria     10000.0
611         30 June Stadium         Cairo      8205.0

[138 rows x 12 columns]

In [30]:
#Pandas program to change the “AwayTeamGoals” in the 3rd row to 10.

df.loc[2, 'AwayTeamGoals'] = 10
#df.at[2, 'AwayTeamGoals'] = 10
# Display the updated DataFrame/ only top records
df.head()

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,10.0,Final,NaN,Municipal Stadium,Khartoum,30000.0
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0

In [32]:
#Pandas program to sort the DataFrame first by ‘HomeTeam’ in ascending order, then by ‘HomeTeamScores’ in descending order.
sorted_df = df.sort_values(by=['HomeTeam', 'HomeTeamGoals'], ascending=[True, False])

# Display the sorted DataFrame
print(sorted_df)

     Year                         Date           Time    HomeTeam  \
205  1990                      2-Mar-90            NaN   Algeria
29   1968                     14-Jan-68            NaN   Algeria
135  1980                     16-Mar-80            NaN   Algeria
164  1984                      5-Mar-84            NaN   Algeria
171  1984                     17-Mar-84            NaN   Algeria
..    ...                           ...            ...        ...
521  2012                     12-Feb-12  20:30[note 1]    Zambia
549  2017  23 January 2017 (2017-01-23)          20:00  Zimbabwe
398  2004                     25-Jan-04          16:30  Zimbabwe
437  2006                     23-Jan-06          20:00  Zimbabwe
575  2019     30 June 2019 (2019-06-30)          21:00  Zimbabwe

         AwayTeam  HomeTeamGoals  AwayTeamGoals              Stage  \
205       Nigeria            5.0            1.0            Group A
29         Uganda            4.0            0.0            Group A
135        Guinea            3.0            2.0            Group B
164        Malawi            3.0            0.0            Group B
171         Egypt            3.0            1.0  Third place match
..            ...            ...            ...                ...
521   Ivory Coast            0.0            0.0              Final
549       Tunisia            2.0            4.0            Group B
398         Egypt            1.0            2.0            Group C
437       Senegal            0.0            2.0            Group D
575      DR Congo            0.0            4.0            Group A

              SpecialWinConditions                       Stadium  \
205                            NaN          Stade 5 Juillet 1962
29                             NaN        Hailé Sélassié Stadium
135                            NaN               Liberty Stadium
164                            NaN                  Stade Bouaké
171                            NaN  Stade Félix Houphouët-Boigny
..                             ...                           ...
521  Zambia  win on Penalities 8-7              Stade d'Angondjé
549                            NaN             Stade de l'Amitié
398                            NaN          Stade Taïeb El Mhiri
437                            NaN             Port Said Stadium
575                            NaN               30 June Stadium

             City  Attendance
205       Algiers     85000.0
29    Addis Ababa     25000.0
135        Ibadan     20000.0
164        Bouaké     10000.0
171       Abidjan       500.0
..            ...         ...
521    Libreville     40000.0
549    Libreville         NaN
398          Sfax     22000.0
437     Port Said     15000.0
575         Cairo      4364.0

[622 rows x 12 columns]

In [33]:
#Pandas program to get list from DataFrame column headers.
column_headers = list(df.columns)
#df.columns.to_list()
print(column_headers)

['Year', 'Date ', 'Time ', 'HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals', 'Stage', 'SpecialWinConditions', 'Stadium', 'City', 'Attendance']

In [35]:
#Pandas program to append a column of your choice to your DataFrame.
#Adding citycopy column with duplicates of the City column
df['CityCopy'] = df['City']
 #views the first records of the updated dataframe
df.head()
"""
new_column = pd.Series([])
#append new colum
df['NewColumn'] = new_column   
"""

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance,CityCopy
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0,Khartoum
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN,NaN
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,10.0,Final,NaN,Municipal Stadium,Khartoum,30000.0,Khartoum
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0,Cairo
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0,Cairo

In [7]:
#Pandas program to add 2 rows to your DataFrame.
#Getting values for the new rows/creating a copy of existing data
row1 = {
 'HomeTeam': 'Egypt',
 'AwayTeam': ' Ethiopia',
 'HomeTeamGoals': 4.0,
 'AwayTeamGoals': 0.0,
 'Stage': 'Final Tournament',
 }
#dict = selected_rows.to_dict()

#appending the rows
df = df._append(row1, ignore_index=True)
#Viewing the dataframe
df.tail()

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
619,2019.0,14 July 2019 (2019-07-14),21:00,Algeria,Nigeria,2.0,1.0,Semi-finals,NaN,Cairo International Stadium,Cairo,49775.0
620,2019.0,17 July 2019 (2019-07-17),21:00,Tunisia,Nigeria,0.0,1.0,Third place play-off,NaN,Al Salam Stadium,Cairo,6340.0
621,2019.0,19 July 2019 (2019-07-19),21:00,Senegal,Algeria,0.0,1.0,Final,NaN,Cairo International Stadium,Cairo,75000.0
622,NaN,NaN,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,NaN,NaN,NaN
623,NaN,NaN,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,NaN,NaN,NaN

In [11]:
#Pandas program to change the country ‘Uganda’ to ‘China’ in the ‘AwayTeam’ column of the DataFrame.

# Replace 'Uganda' with 'China' in the 'AwayTeam' column
#df.loc[df['AwayTeam'] == 'Uganda', 'AwayTeam'] = 'China'
df['AwayTeam'].str.strip().replace('Uganda', 'china')
# Display the modified DataFrame
df.head(20)

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,0.0,Final,NaN,Municipal Stadium,Khartoum,30000.0
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0
5,1959,29-May-59,NaN,Egypt,Sudan,2.0,1.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
6,1962,14-Jan-62,NaN,Ethiopia,Tunisia,4.0,2.0,Semifinals,NaN,Hailé Sélassié Stadium,Addis Ababa,30000.0
7,1962,18-Jan-62,NaN,Egypt,Uganda,2.0,1.0,Semifinals,NaN,Hailé Sélassié Stadium,Addis Ababa,30000.0
8,1962,20-Jan-62,NaN,Tunisia,Uganda,3.0,0.0,Third place match,NaN,Hailé Sélassié Stadium,Addis Ababa,NaN
9,1962,21-Jan-62,NaN,Ethiopia,Egypt,4.0,2.0,Final,win after extra time,Hailé Sélassié Stadium,Addis Ababa,NaN
10,1963,24-Nov-63,NaN,Ghana,Tunisia,1.0,1.0,Group A,NaN,Accra Sports Stadium,Accra,NaN
11,1963,26-Nov-63,NaN,Ghana,Ethiopia,2.0,0.0,Group A,NaN,Accra Sports Stadium,Accra,NaN
12,1963,28-Nov-63,NaN,Ethiopia,Tunisia,4.0,2.0,Group A,NaN,Accra Sports Stadium,Accra,NaN
13,1963,24-Nov-63,NaN,Egypt,Nigeria,6.0,3.0,Group B,NaN,Kumasi Sports Stadium,Kumasi,NaN
14,1963,26-Nov-63,NaN,Egypt,Sudan,2.0,2.0,Group B,NaN,Kumasi Sports Stadium,Kumasi,NaN
15,1963,28-Nov-63,NaN,Sudan,Nigeria,4.0,0.0,Group B,NaN,Kumasi Sports Stadium,Kumasi,NaN
16,1963,30-Nov-63,NaN,Egypt,Ethiopia,3.0,0.0,Third place match,NaN,Accra Sports Stadium,Accra,NaN
17,1963,1-Dec-63,NaN,Ghana,Sudan,3.0,0.0,Final,NaN,Accra Sports Stadium,Accra,NaN
18,1965,12-Nov-65,NaN,Tunisia,Ethiopia,4.0,0.0,Group A,NaN,Stade Chedli Zouiten,Tunis,16000.0
19,1965,14-Nov-65,NaN,Senegal,Tunisia,0.0,0.0,Group A,NaN,Stade Chedli Zouiten,Tunis,NaN

In [12]:
#Pandas program to reset index in your DataFrame.
df_reset = df.reset_index(drop= True)
df_reset.head()

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,0.0,Final,NaN,Municipal Stadium,Khartoum,30000.0
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0

In [48]:
#Pandas program to check whether the ‘Stadium’ column is present in your DataFrame or not.
if 'Stadium' in df.columns:
  print("Stadium is present in DataFrame.")
else:
  print("Stadium is not present in DataFrame.")

Stadium is present in DataFrame.

In [13]:
#Pandas program to convert the datatype of the ‘AwayTeamGoals’. (int to float)
df['AwayTeamGoals'] = df['AwayTeamGoals'].astype(float)
df.head()

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,0.0,Final,NaN,Municipal Stadium,Khartoum,30000.0
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0

In [ ]:
#Pandas program to remove the last 10 rows from your DataFrame.
df.drop(df.tail(10).index,inplace = True)

In [60]:
#Pandas program to iterate over rows in your DataFrame.
for index, row in df.iterrows():
    print(row['HomeTeam'], row['City'])

Ivory Coast   Ouagadougou
Senegal   Bamako
Egypt   Cairo
Zambia   Lubango
Zambia   Libreville
Ivory Coast   Bata

In [57]:
#Pandas program to change the order of your DataFrame columns.
 
cols = list(df.columns)
cols.reverse()
 
# printing the new DataFrame
print("My new DataFrame")
 
df[cols]

My new DataFrame

,CityCopy,Attendance,City,Stadium,SpecialWinConditions,Stage,AwayTeamGoals,HomeTeamGoals,AwayTeam,HomeTeam,Time,Date,Year
0,Khartoum,30000.0,Khartoum,Municipal Stadium,NaN,Semifinals,2.0,1.0,Egypt,Sudan,NaN,10-Feb-57,1957
1,NaN,NaN,NaN,NaN,Ethiopia wins due to disqualification of othe...,Semifinals,NaN,NaN,South Africa,Ethiopia,NaN,10-Feb-57,1957
2,Khartoum,30000.0,Khartoum,Municipal Stadium,NaN,Final,10.0,4.0,Ethiopia,Egypt,NaN,16-Feb-57,1957
3,Cairo,30000.0,Cairo,Prince Farouk Stadium,NaN,Final Tournament,0.0,4.0,Ethiopia,Egypt,NaN,22-May-59,1959
4,Cairo,20000.0,Cairo,Prince Farouk Stadium,NaN,Final Tournament,0.0,1.0,Ethiopia,Sudan,NaN,25-May-59,1959
...,...,...,...,...,...,...,...,...,...,...,...,...,...
617,Cairo,7568.0,Cairo,Al Salam Stadium,NaN,Quarter-finals,3.0,0.0,Tunisia,Madagascar,21:00,11 July 2019 (2019-07-11),2019
618,Cairo,9143.0,Cairo,30 June Stadium,win after extra time,Semi-finals,0.0,1.0,Tunisia,Senegal,18:00,14 July 2019 (2019-07-14),2019
619,Cairo,49775.0,Cairo,Cairo International Stadium,NaN,Semi-finals,1.0,2.0,Nigeria,Algeria,21:00,14 July 2019 (2019-07-14),2019
620,Cairo,6340.0,Cairo,Al Salam Stadium,NaN,Third place play-off,1.0,0.0,Nigeria,Tunisia,21:00,17 July 2019 (2019-07-17),2019
621,Cairo,75000.0,Cairo,Cairo International Stadium,NaN,Final,1.0,0.0,Algeria,Senegal,21:00,19 July 2019 (2019-07-19),2019

In [58]:
#Pandas program to delete DataFrame row(s) whose value is 0 in the ‘HomeTeamGoals’ columns.
df=df[df['HomeTeamGoals']==0].dropna()
#df = df[df['HomeTeamGoals']!=0]
df

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance,CityCopy
316,1998,21-Feb-98,20:00,Ivory Coast,Egypt,0.0,0.0,Quarterfinals,Egypt win on Penalities 4-5,Stade Municipal,Ouagadougou,20000.0,Ouagadougou
385,2002,10-Feb-02,16:00,Senegal,Cameroon,0.0,0.0,Final,Cameroon win on Penalities 2-3,Stade du 26 Mars,Bamako,50000.0,Bamako
449,2006,10-Feb-06,18:00,Egypt,Ivory Coast,0.0,0.0,Final,Egypt win on Penalities 4-2,Cairo International Stadium,Cairo,74100.0,Cairo
509,2010,25-Jan-10,20:30,Zambia,Nigeria,0.0,0.0,Quarter-finals,Nigeria win on Penalities 4-5,Estádio Nacional da Tundavala,Lubango,10000.0,Lubango
521,2012,12-Feb-12,20:30[note 1],Zambia,Ivory Coast,0.0,0.0,Final,Zambia win on Penalities 8-7,Stade d'Angondjé,Libreville,40000.0,Libreville
537,2015,8-Feb-15,20:00,Ivory Coast,Ghana,0.0,0.0,Final,Ivory Coast win on Penalities 9-8,Estadio de Bata,Bata,32857.0,Bata